#info-panel {
    position: fixed;
    top: 0;
    right: 0; /* Adjust this to be on-screen when visible */
    width: 500px; /* Adjust as needed */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(100%); /* Start off-screen */
}

#info-panel .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
}

.info-panel-hidden {
    transform: translateX(100%); /* Hide off-screen to the right */
    transition: transform 0.3s ease-out;
}
